/*
	Default style
	Used in case there is no custom skin defined in "persistent_login.js".
*/

#ifplcontainer {
	padding: 3px;
	text-align: center;
}

#ifplcontainer label, input {
	padding: 0;
	margin: 0;
	overflow: auto;
	vertical-align: middle;
}

/*
	Global style for security hint.
*/
.ifpl-hint {
	background: none;
	font-size: 0.9em;
	border-radius: 4px;
	color: #f00;
	text-align: left;
	text-shadow: none;
}
